@media only screen and (max-width: 768px){
html{
	font-family: 'shabnam', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
	overflow:hidden;
}
body{
	box-sizing:border-box;
	overflow-x: hidden;
    min-width: 0!important;
	unicode-bidi: embed;
	margin:0;
	height:auto;
	
}
a{
	text-decoration:none;
	transition-duration: 0.3s;
}
.clr{
	clear:both;
}
.top_div{
visibility:collapse;
}
nav{
	background-color:black;
	margin:0 auto;
	width:100%;
	height:77px;
	margin-top: -76px;
}
.nav_pple{
	margin-right: -55px;
	margin-top:0;
}
#srch{
	margin-right: -27px;
	margin-left:0;
	margin-top:-50;
}
.nav_srch{
	visibility:collapse;
}
#home_btn{
	visibility:collapse;
}
.btn_r{
	margin-right:57;
}

#icon_container{
	visibility:collapse;
}
.icon_container{
	width:auto;
}
#icon_container1{
	margin-right:0;
	margin-top:-130;
}
#icon_container2{
	margin-top:-92;
}
#icon_container3{
	margin-top:-90;
}
.top_title > h2{
	font-size:29px;
	padding-left:44;
}
.top_title > p {
	padding-left:44;
}
.icon_container > p{
	padding-left:58px;
}
.pic_area{
	visibility:collapse;
}

.sec_2{
	margin-right: -28px;
    padding-left: 94px;
}
.sec2_info{
	margin-right: -748px;
}
.mi{
	margin-right: 44px;
}
.sec_2{
	margin-right: 88px;
}
#img1{
	width: 157px;
    height: 139px;
    margin-right: -63px;
}
#img2{
    width: 157;
    height: 139;
    float: left;
    margin-top: -148px;
    margin-left: 50px;	
	margin-right: 98px;
}
#img3{
	width: 157;
    height: 139;
    float: right;
    margin-top: 20px;
    margin-right: -60px;
}
#img4{
	width: 157;
    height: 139;
    margin-top: 19px;
}
#img5{
	width: 157;
    height: 139;
    margin-right: -2px;
	margin-top:12px;
}
#img6{
	width: 157;
    height: 139;
    margin-top: -145px;
    margin-right: -63px;
}
.pic_part > img {
	width: 140;
    height: 97px;
    margin-top: -205px;
    margin-left: -20px;
}
.pic_part{
	float: left;
    margin-left: 55px;
}
.text_part{
	margin-top: 175px;
    margin-right: 20px;
    width: 100%;
    text-align: start;
}
.text_part > p{
	margin-left: 43px;
}
.section6{
height:841;
}
.sec6__{
	margin-right:0;
	float:left;
}
#sec6__1{
	margin-top: -48px;
    margin-left: 142px;
}
#sec6__2{
	margin-left: 176px;
    margin-top: -85px;
}
#sec6__3{
	margin-left: 336px;
    margin-top: -56px;
}
#sec6__4{
	margin-left: 317px;
    margin-top: -79px;
}
#sec6__5{
	margin-left: -300;
    margin-top: 37px;
}
#isec6{
	margin-right: -913px;
    margin-top: -64px;
}
#sec6_h4{
    margin-right: -821px;
    margin-top: -64px;
}
.icon_footer{
	padding-left:3;
	margin-top:-68;
}

}