/*
Theme Name: alpha
Theme URI: google.com
Description: nice
Version:1.0
Author: me
Author URI: google.com
*/


<link rel="stylesheet" media="only screen and (min-width: 0px) and (max-width: 768px)" href="new 1.css" >

html{
	font-family: 'shabnam', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
	overflow:hidden;
}
body{
	box-sizing:border-box;
	overflow-x: hidden;
    min-width: 0!important;
	unicode-bidi: embed;
	margin:0;
	position:relative;
	height:auto;
	
}
a{
	text-decoration:none;
	transition-duration: 0.3s;
}
.clr{
	clear:both;
}
.top_div{
background-color:#32254B;
width:100%;
height:28px;
padding:6px;
margin-right:0;
}
.info_sec{
	text-align:right;
	margin-right:80px;
}
.info_sec>i{
	font-size:19px;
	color:white;
	margin-top:2px;
	float: left;
}


nav{
	background-color:black;
	margin:0 auto;
	width:100%;
	height:80px;
}
#home_btn{
	color:#ffc670;
	font-size: 17px;
}
#home_btn:hover{
	color:white;
	background-color:#6039A8;
	padding:15px;
	
}
.bg{
	
	background:url(https://alphacorp.ir/wp-content/uploads/2015/07/us-placeholder-landscape.jpg) no-repeat center center;
	width:100%;
	height:616;
	background-size:cover;
	box-sizing:border-box;
	position:absolute;
	background-position:center center;
	opacity:0.97;
	overflow-x: hidden;
    min-width: 0!important;
	unicode-bidi: embed;
	margin:0;
	overflow:hidden;
}
#srch{
	margin-left: 74px;
	float: left;
    margin-top: 29px;
	color:white;
	font-size: 24px;
	margin-right: 77px;
	margin-top: 19px;
}
.c1>h1{
	margin-top: 140;
	color:white;
	font-size: 3rem;
	line-height: 1.1;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.01em;
	font-family: 'shabnam'!important;
	margin-right: 1px !important;
    margin-left: 1px !important;
    border-bottom-width: 2px !important;
    padding-top: 2px !important;
    padding-right: 2px !important;
    padding-left: 2px !important;
}
.c2{
	margin-top: 5px !important;
    margin-bottom: 25px !important;
    padding-bottom: 9px !important;
	color:white;
	text-align:center;
}
.btn_r{
	position:relative;
	display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
	margin: 0.3rem 0;
	margin-right:509;
	color: #000000!important;
    font-family: 'shabnam', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0em;
    border-radius: 0.3em;
    padding: 0.8em 1.8em;
    background-color: #fff200;
    border-color: transparent;
    box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.4);
	font-size: 1.2rem;
}
.overlay{
   position: absolute;
   bottom: 100%;
   left: 0;
   right: 0;
  background-color: #0f0128;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.btn_r:hover .overlay{
	bottom: 0;
  height: 100%;
}
.overlay>a{
white-space: nowrap;
    text-decoration: none;
    transition-duration: 0.3s;
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	padding-right: 70px;padding-bottom: 8px;
}
.btn_l{
	position:relative;
	display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
	margin: 0.3rem 0;
	margin-right:17;
	color: #000000!important;
    font-family: 'shabnam', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0em;
    border-radius: 0.3em;
    padding: 0.8em 1.8em;
    background-color:white;
    border-color: transparent;
    box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.4);
	font-size: 1.2rem;
}
.buttons{
	margin-right: -41px !important;
    margin-left: 1px !important;
    border-bottom-width: 2px !important;
    padding-top: 2px !important;
    padding-right: 2px !important;
    padding-left: 2px !important;
}
.sec1{
	
    margin: 0 auto;
    width: 100%;
}
.sec2{
	padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.top_sec>h2{
	font-size: 2rem;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0em;
}
.section1{
	position: absolute;
    bottom: 0;
    width: 100%;
    top: 736px;
    height: 560px;
	
}
.icon_container{
	animation-name: afc;
    opacity: 1;
	width: 393px;
    text-align: center;
	width: 30%;
    float: right;
    
}
.subject{
	color:black;
}
.subject:hover{
	color:#FFB342;
	transition:0.5s;
}
.section2{
	position: absolute;
    bottom: 0;
    width: 100%;
    top: 1363px;
    height: 710px;
	background-color:#F5F5F5;
}
.pic_area{
	margin-right: 123px;
    margin-top: 20px;
}
#img1{width: 397;height: 298;}
#img2{width: 397;height: 298;}
#img3{width: 397;height: 298;}
#img4{width: 397;height: 298;}
#img5{width: 397;height: 298;}
#img6{width: 397;height: 298;}

.section3{
	position: absolute;
    bottom: 0;
    width: 100%;
    top: 2074px;
    height: 880px;
	background-image: url("https://alphacorp.ir/wp-content/uploads/2015/07/us-placeholder-landscape.jpg");
	background-position: 50% 50%;
	background-attachment:fixed;
	background-size: cover;
}
.sec3_{
	margin: 0 -1.5rem;
}
.pictures{
	float:right;
	margin:3px;
	opacity:0.6;
}
.section4{
	position: absolute;
    bottom: 0;
    width: 100%;
    top: 2870px;
    height: 698px;
}
.text_part{
	margin-top: 235px;
    margin-right: 96px;
    width: 43%;
	clear:left;
}
.pic_part{
	float: left;
    margin-top: -300px;
    margin-left: 55px;
}
.section5{
	position: absolute;
    bottom: 0;
    width: 100%;
    top: 3560px;
    height: 335px;
	background-image: url("https://alphacorp.ir/wp-content/uploads/2015/07/us-placeholder-landscape.jpg");
	background-position: 50% 50%;
	background-attachment:fixed;
	background-size: cover;
}
.section6{
	position: absolute;
    bottom: 0;
    width: 100%;
    top: 3894px;
    height: 335px;
	background-color:#F5F5F5;
}
.i_container > i{
    clear: left;
    color: white;
	font-size: 26px;
    margin-top: 16px;
}
.i_container{
	background-color: #FFB03B;
    /* border-radius: 50% 50%; */
    /* width: fit-content; */
    line-height: 2.5em;
    height: 2.5em;
    width: 2.5em;
    overflow: hidden;
    border-radius: 50%;
    font-size: 26;
	text-align:center;
}
.sec6_h4{
	margin-top: -47px;
    margin-right: 95px;
    font-weight: 400;
    font-size: 22px;
    color: #737373;
}
.sec6_container{
	margin-right: 80px;
}
.sec6__{
	margin-bottom: 84px;
	
}
.footer{
background-color:black;
height:104;
 bottom: 0;
 width: 100%;
 top: 3894px;
}
.icon_footer{
	float: left;
	padding: 27px;
	color: #2BA2DB;
	padding: 27px;
	padding-left: 175px;
	font-size: 21px;
	margin-top:-90;
}
